/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
 
.panel-footer {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #00535f;
    text-align: center;
    background: #c41e99;
    border-radius: 0px 0px 8px 8px;
}

.panel-default {
    border-radius: 10px;
	box-shadow: 5px 5px 5px #777777;
	border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #00535f;
    
.panel-body {
}
    
}
.panel-default > .panel-heading {
    background: #00535f; /* Old Browsers */
    background: -webkit-linear-gradient(top,#00535f,#c41e99); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#00535f,#c41e99); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#00535f,#c41e99); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #00535f, #c41e99); /*Standard*/
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 7px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #00535f;
    color: white;
}                

.panel-default > .box_glowny {
    text-align: center;
    padding-bottom: 20px;
    border-width: 0px 0px 2px 1px;
}

.box_body {
    background: #efefef;
}

.witaj {
    color: #c41e99;
}

.motto {
    margin: 0px 0px 15px 0px;
}

.alert {
    border-color: #00535f;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 5px 5px 5px #777777;
    text-align: center;
}

.a1 {
   border-color: #00535f; 
   border-radius: 10px;
   border-width: 2px;
   background: #aacee2;
   border-style: solid;
   padding: 0px 5px 5px 30px;
   
}

.q1 { 
    margin: 0px 15px 0px 15px;
    text-align: center;
}

.v2 {
    box-shadow: 1px 1px 2px black, 0 0 5px #00535f;
}

.btn-primary {
    box-shadow: 1px 1px 2px black;
}

.btn-default {
    box-shadow: 1px 1px 2px black;
}


